body {
    background-color: #faf7f2;
    margin:0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Grande', Geneva, Verdana, sans-serif
}
header {
    background-color: #e3dccc;
    padding: 2rem;
}

#profile{
    display: flex;
    align-items: center;
    gap: 2rem;
}

#profile_name {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color :#745131;
}

h2, strong {
    color:#000000;
}

#designation {
  color:#755134;
}
main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    padding: 2rem;
}
.left-column, .right-column {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}
li , p {
    font-size: 1.1rem;
    color: #755134;
    margin-bottom: 0.5rem;
}
.progress-bar {
    background-color:#e3dccc;
    border-radius: 10px;
    height: 10px;
    width: 70%;
}
.progress {
    background-color: #755134;
    height: 100%;
    border-radius: 10px;
}

li {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}
#description{
    margin-left: 2px;
    color: #755134;
}
#skills-details{
    display: none;
}
button {
    border: none;
    background-color: #faf7f2;
    cursor: pointer;
}

span{
    color: #755134;
}
#skills-arrow{
    transition: transform 0.3s ease;
}
footer{
    text-align: center;
    padding: 0.5rem;
    color:#745131;
    background:#e3dccc;
    margin-top: 2rem;
}

/* For mobile */
@media (max-width: 426px) {
    main {
        display: block;
    }
    h1, h2 {
        font-size: 1.2rem;
    }
    #profile {
        display: block ;
        text-align: center;
    }
    img {
        width: 100%;
        max-width: 150px;
    }
    footer {
        font-size: 0.6rem; 
    }
}

/* For Tablet */
@media (min-width: 426px) and (max-width: 768px) {
    main {
        grid-template-columns: 1fr; 
        gap: 1.5rem; 
    }

    #profile {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    img {
        max-width: 200px; 
    }

    h1, h2 {
        font-size: 1.5rem; 
    }

    .left-column, .right-column {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
        padding: 0.8rem; 
    }
    footer {
        font-size: 0.8rem; 
    }
}


